<div class="row">
  <div class="col-sm-10 offset-sm-1 text-center">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
      </p>

      <p>
        <%= form.label :body %><br>
        <%= form.text_field :body %>
      </p>

      <p>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', :class => "custom-select custom-select-sm" %>
      </p>


      <p>
        <%= form.submit class: 'btn btn-primary' %>
        <%= link_to "Back", root_path, :class => 'btn btn-danger' %>
      </p>
    <% end %>
  </div>
</div>
